@font-face {
    font-family: kadosFont;
    src: url(https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap);
}

html {
    font-family: sans-serif;
}

h1, h2 {
    font-family: kadosFont;
}

table {
    width: 100%;
}

th, td {
    text-align: center;
    padding: 3px;
    margin: 3px;
}

table, th, td {
    border: 1px solid black;
}
